.nav {
    display:inline-block;
    /* width: calc(100% / 7); */
    border: none;
    font-family: system-ui;
    font-size: 1.5vw;
    color: #A8A8A8;
    box-sizing: border-box;
    margin-bottom: 0;
  }

a {
    padding: 1% 2%;
    margin: 0 1%;
    text-decoration: none;
}

/* remove chrome default blue border */
button:focus {
  outline:0;
}

button:hover {
  cursor: pointer;
  color: skyblue;
  
}

.active {
  color: black;
  border-bottom: 1px solid black !important;
}

  
