.Tab {
  font-family: system-ui;
  font-size: 1.2vw;
}
.Tab > a {
      display: block;
      padding: 10px 12px;
      text-decoration: none;
      color: #A8A8A8;
      transition: color .15s;
  }

.Tab.active > a {  
      color: #222;     
}
.Tab:hover > a {
      cursor: pointer;
      color: skyblue;    
}
  

  
